@font-face {
  font-family: IndieFlower;
  src: url("../assets/fonts/IndieFlower.ttf") format("truetype");
}

.Footer {
	font-family: IndieFlower;
	font-size: 10px;
	color: #026775;
	position: fixed;
	left: 0;
	bottom: 0;
	min-width: 100%;
	display: flex;
	align-items: center;
}

.BoatImg {
	float: right;
	position: absolute;
	left: 75%;
	bottom: 5%;
}

.FooterText {
	bottom: 5%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

img {
	width: 13vw;
}