@font-face {
  font-family: IndieFlower;
  src: url("../assets/fonts/IndieFlower.ttf") format("truetype");
}

.Header {
	font-family: IndieFlower;
	font-size: 40px;
	color: #026775;
	text-align: center;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 180px;
}

.HeaderText {
	display: inline-block;
}